html, body, #app, #app > div {
    width: 100%;
    height: 100%;
}

.upload-panel {
    width: 400px;
    height: 200px;
    border: 2px dashed black;
    padding: 0 15px;
}

.upload-panel.hide {
    display: none;
    visibility: hidden;
}

.upload-list {
    width: 400px;
    height: auto;
    min-height: 200px;
    border: 2px dashed black;
    padding: 0 15px 15px;
    overflow: hidden;
}

.upload-list dd > span {
    display: block;
    float: left;
    width: 100%;
}